division/
main_program
addition/add
addition/avg.txt
barret_reduction/reduc
check0s/check0s
check1s/check1s
exponentiation/expo
hash/sha3
mod_inv/gP
mod_inv/generatePrime.c
mod_inv/inv
mont_expo/m_expo
mont_expo/mont_expo
montgomery/mont
multiplication/mult
random/rand
sqrt/tonelli_shanks/nsqrt.c
sqrt/tonelli_shanks/prob.c
sqrt/tonelli_shanks/test.c
sqrt/tonelli_shanks/nsqrt
sqrt/tonelli_shanks/prob
sqrt/tonelli_shanks/sqtr
sqrt/tonelli_shanks/test
subtraction/sub
